# Environment 
.env 
*.env

# Airflow
airflow/logs
airflow/plugins/__pycache__/

# dbt
dbt/stock_mart/target/
dbt/stock_mart/dbt_packages/
dbt/stock_mart/.user.yml
dbt/profiles.yml
dbt/stock_mart/logs/

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Docker
postgres_data/

# OS
.DS_Store
*.swp
